<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h3 class="text-center">
                Account Login
            </h3>
            <img src="/img/logo.png" class="logo">
            <form method="post" action="/users/login">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" value="{{email}}" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <button type="submit" class="btn btn-block btn-primary">Login</button>
            </form>
            <p class='text-center'>Doesn't have an account ? <a href="/users/register">Get one !</a></p>
        </div>
    </div>
</div>